.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    gap: 120px;
    margin-right: 250px;

    
}

.avatar {
    width: 32px;
    height: 32px;
}

.content {
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    padding: 5px;
}